<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="endpoints" value="http://localhost:12345/myawesomeresume/;http://localhost:12345/myawesomeresume/education/;http://localhost:12345/myawesomeresume/jobs/;http://localhost:12345/myawesomeresume/education/;http://localhost:12345/myawesomeresume/personalData/;http://localhost:12345/myawesomeresume/heresroger/"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
